<div class="topnav">
    <div class="logo">
        <a href="#">My Blog</a>
    </div>

    <div class="url-link">
        <a href="/">Home</a>
        <% if (!isAuthenticated) { %>
            <a href="/login">Login</a>
            <a href="/signup">Register</a>
        <% } else { %>
            <a href="/profile">Profile</a>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Logout</button>
            </form>
        <% } %>
    </div>
</div>