<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <div class="content">
            <h2>CSS Template</h2>
            <p>A topnav, content and a footer.</p>
        </div>
    </main>

<%- include('includes/footer.ejs') %>